#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.slash--1 {
  position: relative;
  top: -45px;
  width: 1250px;
  border-style: groove;
  border-width: 7px;
  border-color: black;
  border-bottom-style: none;
  border-color: #525252
}


.hv__main--content {
  font-family: Georgia, serif;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: #333;
  text-shadow: '2px 2px #ddd';

}

.hv__header--name {
  font-family: Georgia, serif;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 480px;
  top: -125px;
}


.hv__info--title {
  font-family: Georgia, serif;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  right: 510px;
  top: -50px;
}

.hv__photo {
  position: relative;
  width: 130px;
  height: 140px;
  top: -110px;
}


.hv__info--profile {
  font-family: Georgia, serif;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: -90px;
}

.profile__desc {
  font-family: Georgia, serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: oblique;
  color: black;
  position: relative;
  top: -100px;
}

.slash--2 {
  position: relative;
  top: -100px;
  width: 1200px;
  border-style: groove;
  border-width: 7px;
  border-color: black;
  border-bottom-style: none;
  border-color: #525252
}


.info__personal {
  font-family: Lucida Console;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: black;
  position: relative;
}

.info__academic {
  font-family: Lucida Console;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: black;
  position: relative;
}

.info__experence {
  font-family: Lucida Console;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  color: black;
  position: relative;
}

.letter__info_personal {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}




.letter__info_personal {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight:bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.letter__info_academic{

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight:bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;

}

.letter__info_exp{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight:bold;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}








.form {
  position: relative;
  background-color: #606063;
  border-radius: 20px;
  box-sizing: border-box;
  height: 560px;
  padding: 15px;
  width: 320px;
  left: 400px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}











* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background: #525252;
  color: #ecf0f1;
  line-height: 1.618em;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #525252;
  height: 14.75rem;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #525252;
  border-right: 0.125rem solid #525252;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content {
  height: 12rem;
  width: 72rem;
  position: absolute;
  z-index: 1;
  top: 2.75rem;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}


.tab-switch:checked+.tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked+label+.tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.slash--3{
  position: relative;
  left:-10px;
  width: 1200px;
  border-style: groove;
  border-width: 7px;
  border-color: black;
  border-bottom-style: none;
  border-color: #525252
}










.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.div--background {
  width: 100%;
}




.primer_cuadro{
  color:white;
}